@import "tailwindcss";
/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

@theme {
    --color-blueBG: #01012a;
    --color-textColor: rgba(255, 255, 255, 0.4);
    --color-borderColor: #000010;
    --color-gradientTop: #111160;
    --color-gradientBottom: #000010;
    --shadow-homePic-shadow: 0 8px 16px -8px lightblue;
    --shadow-homePic-hover: 0 10px 20px 2px rgba(111, 81, 218, 0.7);
    --height-canvas-height: 550px;
    --width-canvas-width: 300px;
    --border-radius-canvas-radius: 6rem;
    --font-family-canvas-font-title: 'Times New Roman', Arial, serif, Verdana, Tahoma;
    --font-size-canvas-md-size: 1.1rem;
}

@layer base {
    @font-face {
        font-family: "Times New Roman", Arial, serif, Verdana, Tahoma;
    }
    p {
        @apply my-4;
    }
    small {
        @apply opacity-70;
    }
    section {
        @apply text-left;
        @apply border-b-2;
        @apply border-gray-700;
        @apply border-dashed;
    }
    a {
        @apply hover:text-blue-400;
    }
    html {
        @apply bg-black;
    }
}