
.sideNav {
    height: 100%;
    width: 250px;
    max-width: 70%;
    position: fixed;
    z-index: 99;
    top: 7px;
    right: 0;

    background-color: rgba(13, 15, 82, 0.98);
    overflow-x: hidden;
    padding-top: 60px;
    /*transform: translateX(250px);*/
    transition: all 0.7s ease-in-out;
}
.sideNav.active {

}

.mapping {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    row-gap: 1rem;
    color: #818181;
    padding: 0 1rem;
    font-size: 20px;
}

.navRoute {
    padding: 0 0 0 36px;
    cursor: pointer;
}
.navRoute:hover {
    color: cornflowerblue;
    font-size: 21px;
}

.closeNav {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 25px;
    /*margin-right: 50px;*/
    cursor: pointer;
}
.closeNav:hover {
    color: cornflowerblue;
}

.menu {
    width: 30px;
    cursor: pointer;
}