
.sidebar section div img {
    width: 30px;
    position: fixed;

}
@media screen and (min-width: 500px) {
    .sidebar section div img {
        width: 40px;
    }
}

.sidebar section {
    position: fixed;
    top: 2px;
    left: 17px;
    width: 30px;
    height: 30px;
    color: rgba(173, 216, 230, 0.6);
    font-size: 16px;
    border-color: #020139;
    overflow: hidden;
    background: #020139;
    transition: all 0.7s ease-in-out;
}
@media screen and (min-width: 500px) {
    .sidebar section {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

.sidebar section:hover {
    width: 190px;
    height: 50vh;
    overflow-y: scroll;
}
@media screen and (min-width: 500px) {
    .sidebar section:hover {
        width: 230px;
    }
}

.sidebar section ul {
    position: relative;
    width: 410px;
    height: auto;
}
@media screen and (min-width: 500px) {
    .sidebar section ul {
        width: 450px;
    }
}

.sidebar section ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.sidebar section ul li span {
    position: relative;
    height: 30px;
}

.sidebar section ul li audio {
     height: 15px;
    position: relative;
 }